@model List<Genero>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Generos
    </a>
<ul class="dropdown-menu">
    @foreach (Genero gen in Model)
    {
       
        <li>
            <a class="dropdown-item" asp-controller="Peliculas" asp-action="PeliculaGenero" asp-route-id="@gen.IdGenero">@gen.Nombre</a>
        </li>
    }
</ul>
</li>