<form method="post">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email" class="form-control" />
    <label>Contraseña</label>
    <input type="text" name="password" placeholder="Contraseña" class="form-control" />
    <button class="btn btn-outline-success">
        Login
    </button>
</form>